* {
    padding: 0;
    margin: 0;

}

html {
    box-sizing: border-box;
}

body {
    width: cover;
    margin: 0 auto;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
main{
    height: 100vh;
    width: 100%;
}
h1 {
    font-family: 'Bungee Outline', cursive;
    font-size: 100px;
    color: rgb(189, 188, 188);
    letter-spacing: 15px;
    margin-bottom: 50px;
}

.container {
    height: 100vh;
    width: 1176px;
    
    
}
.page {
    display: none;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    padding: 1rem 2rem;
}
.active-page {
    display: block;
}
.header-row  {
    height: 100vh;
    margin: auto;
    margin-top: 5rem;
    

}
.header-row :not(:first-child){
    justify-content: center;
}

.row {
    width: 100%;
}
.nav-row {
    height: 56px;
    width: 100%;
}
.form-fronts{
   font-size: 18px;
    padding-bottom: 40px;
    color: rgb(155, 153, 153);
    
}
.form-text {
    font-size: 10px;
    color: rgb(187, 180, 180);
}
.btn-primary {
    background-color: #777;
    border-color: #777;
    text-align: center;
    box-shadow: 2px;
    
}

.btn-primary:link,
.btn-primary:visited {
    color: white;
}

.btn-primary:active,
.btn-primary:hover {
    
    background-color: rgb(30, 202, 245);
    border:rgb(30, 202, 245) ;

}

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center; 
}
.notepad--section {
    padding: 40px;
}
.notepad-structure {
    margin: 10px 0;

}
#output {
    width: 700px;
    height: 400px;
    border: 1px solid rgb(187, 180, 180);
}
.active {
    border: 1px ;
    border: 1px solid rgb(30, 202, 245);
}
.notepad-button {
    border: none;
    outline: none;
    width: 30px;
    cursor: pointer;
}

.card-deck {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}
.card {
    padding: 20px;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}

